services:
  vite_svc-dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "5175:5175"
    restart: always
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    command: npm run dev

  vite_svc-prod:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "80:80"
    restart: unless-stopped